server:
  port: 8080

spring:
  application:
    name: api-gateway
  main:
    web-application-type: reactive

  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: http://localhost:8081
          predicates:
            - Path=/auth/**
          filters:
            - StripPrefix=1

        - id: customer-service
          uri: http://localhost:8082
          predicates:
            - Path=/customer/**
          filters:
            - StripPrefix=1

        - id: loan-service
          uri: http://localhost:8083
          predicates:
            - Path=/loan/**
          filters:
            - StripPrefix=1

        - id: test-service
          uri: http://httpbin.org/status/200
          predicates:
            - Path=/test/**
          filters:
            - StripPrefix=1

jwt:
  secret: "mySecretKeyForJwtToken123456789"
